@media (max-width:1200px) {
    .header {
        &__title {
            font-size: 38px;
        }
    }

    .nav {
        &__search {
            margin-top: 30px;
        }
    }

    .footer {
        &__contacts {
            flex-direction: column;

            * {
                margin-top: 15px;
                text-align: center;
            }
        }
    }
}

@media (max-width:993px) {
    .header {
        img {
            width: 100px;
            height: 100px;
        }

        &__title {
            font-size: 32px;
            font-weight: 600;
            line-height: 30px;
            margin-top: 15px;
        }
    }

    .nav {
        &__list a li {
            font-size: 24px;
        }

        &__search input {
            width: 100%;
        }
    }

    .slide1 img,
    .slide2 img {
        width: 100%;
    }


    .slide1,
    .slide2 {
        padding: 0 20px;
    }

    .footer {
        &__contacts {
            font-size: 16px;
        }

        img {
            width: 105px;
            height: 105px;
        }

        &__doverie img {
            width: 225px;
            height: 65px;
        }
    }
}


@media (max-width:768px) {
    .heater {
        font-size: 14px;
    }

    .header {

        img {
            width: 80px;
            height: 80px;
        }

        &__title {
            font-size: 25px;
        }
    }

    .nav {
        &__list {
            a li {
                font-size: 20px;
            }
        }

        &__search {
            input {
                width: 100%;
                height: 30px;
                font-size: 18px;
            }

            img {
                width: 175px;
                margin-top: 5px;
            }
        }
    }

    .footer {
        img {
            width: 80px;
            height: 80px;
        }

        &__contacts {
            font-size: 14px;
        }

        &__teklogo {
            margin-right: 0;
        }

        &__muslogo {
            margin: 0;
        }

        &__doverie img {
            width: 205px;
            height: 50px;
        }
    }

    .fooder {

        &__name {
            font-size: 14px;
            margin-right: 5px;
        }

        &__list a li {
            width: 100%;
            font-size: 14px;
        }
    }
}

@media (max-width:578px) {
    .heater {
        font-size: 16px;
        flex-direction: column;
        height: 100%;
        padding: 5px;
        gap: 10px;
        padding-top: 10px;

        * {
            margin: 0;
        }
    }

    .header {
        &__muslogo {
            display: none;
        }

        &__teklogo {
            display: none;
        }

        &__title {
            font-size: 18px;
            line-height: 20px;
            width: 100%;
        }
    }

    .nav {
        &__list {
            padding: 0;
            gap: 10px;
        }

        &__search {
            img {
                width: 150px;
                margin-top: 10px;
                margin-left: 5px;
            }
        }
    }


    .footer {
        &__muslogo {
            display: none;
        }

        &__teklogo {
            display: none;
        }
    }

    .fooder {
        display: none;
    }
}