.exspo1 {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &__wrapper {
        position: relative;
        width: 100%;
    }

    &__block {
        position: relative;
        height: 900px;
        padding-left: 250px;
        padding-top: 150px;
        padding-right: 200px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__images {
        display: flex;
        gap: 30px;

        img {
            width: 350px;
            mix-blend-mode: multiply;
        }
    }

    &__block-title {
        margin-top: 30px;
        text-align: center;
        font-size: 26px;
    }

    &__block-descr {
        margin-top: 30px;
        font-size: 20px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }

    &__block-link {
        margin-top: 100px;
        text-align: center;
        color: $accent;
        font-size: 22px;
        text-decoration: underline;
    }
}

.exspo2 {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &__wrapper {}

    &__block {
        position: relative;
        height: 900px;
        width: 100%;
        padding: 100px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__images {
        img {
            width: 600px;
            mix-blend-mode: multiply;
        }
    }


    &__top {
        display: flex;
    }

    &__block-title {
        font-size: 26px;
        text-align: center;
        margin-top: 25px;
        font-weight: 900;
    }

    &__text {
        margin-left: 30px;
        width: 50%;

    }

    &__block-descr {
        font-size: 20px;
        margin-top: 15px;
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    &__downtext {
        font-size: 20px;
        margin-top: 50px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
}

.exspo3 {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &__wrapper {}

    &__block {
        position: relative;
        height: 900px;
        width: 100%;
        padding: 50px;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }

    &__images {
        display: flex;
        gap: 30px;

        img {
            width: 50%;
            mix-blend-mode: multiply;
        }
    }

    &__down {
        display: flex;
        margin-top: 30px;

        img {
            width: 100%;
        }
    }

    &__logo {
        width: 50%;

        img {
            mix-blend-mode: multiply;
            filter: blur(.5px);
        }
    }

    &__block-title {
        font-size: 26px;
        text-align: center;
        margin-top: 25px;
        font-weight: 900;
    }

    &__text {
        width: 50%;
        margin-left: 30px;
    }

    &__block-descr {
        font-size: 20px;
        margin-top: 15px;
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    &__downtext {
        font-size: 20px;
        margin-top: 50px;
        width: 100%;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }


    &__block-link {
        margin-top: 50px;
        text-align: center;
        color: $accent;
        font-size: 22px;
        text-decoration: underline;
    }
}

.blog {
    margin-top: 75px;

    &__wrapper {}

    &__title {
        color: $accent;
    }

    &__posts {
        margin-top: 25px;
    }

    &__post {}

    &__pagination {
        margin-top: 30px;
    }
}