@import 'general';
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Special+Elite&display=swap');

body {
    background: #F4DFC1;
}

* {
    font-family: 'Pangolin', cursive;
}


.hidden-exspo {
    display: none !important;
}

.hidden {
    display: none !important;
}

.upheader {
    background: $second-accent;

    &__wrapper {
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        height: 30px;
    }

    &__string {
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        font-family: verdana !important;

    }

    &__socials {
        display: flex;
        color: white;
        font-size: 22px;
        gap: 15px;
        align-items: center;
    }
}

.header {
    margin: 10px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 15%;

    }

    &__title {
        font-family: 'Linux TEK';
        font-size: 50px;
        line-height: 40px;
        color: #0067FF;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);

        span {
            font-size: 30px;
            color: #000000;
            font-family: 'Linux TEK';
        }

        width: 75%;
    }

    &__search {
        width: 25%;
        position: relative;

        input {
            width: 250px;
            height: 40px;
            padding-left: 30px;
            border: 1px solid #000;
            font-family: verdana !important;
        }

        &::before {
            content: '';
            background: url(../img/search.png) center / contain no-repeat;
            width: 20px;
            height: 20px;
            position: absolute;
            object-fit: contain;
            top: 50%;
            left: 3px;
            transform: translateY(-50%);
        }
    }
}

.nav {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 2px rgba(41, 105, 200, 0.75);

    &__active {
        color: $accent;
        border-bottom: 3px solid $accent;
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        font-size: 24px;
        list-style: none;
        gap: 75px;

        a {
            transition: all .3s ease;
            font-family: verdana !important;
        }

        a:hover {
            color: $second-accent;
            transition: all .3s ease;
        }
    }
}


.story {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &__image {
        width: 50%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    &__block {
        display: flex;
        margin-top: 50px;
        font-size: 22px;
        gap: 25px;
        font-weight: 100;
        text-align: justify;
        float: left;

        p {
            width: 50%;
            font-family: 'Pangolin', cursive;
            @include firstLetter;
        }


    }
}

.admin {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &:nth-child(even) {
        .admin__block {
            flex-direction: row-reverse;
        }
    }

    &__block {
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
        align-items: center;
        margin-top: 50px;
        text-align: justify;



    }

    &__image {
        width: 25%;
        text-align: center;

        img {
            width: 75%;
            display: block;
            margin: 0 auto;
        }

        span {
            width: max-content;
            font-weight: 500;
            font-size: 20px;
        }
    }

    &__descr {
        width: 70%;
        font-size: 22px;
        line-height: 2;
        @include firstLetter;
    }
}

.question {
    margin-top: 100px;

    &__title {}

    &__descr {
        margin-top: 30px;
        font-size: 24px;
        text-align: center;

        span {
            background: green;
            color: white;
            padding: 5px 15px;
            border-radius: 2px;
            display: block;
            width: max-content;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    &__block {
        align-items: center;
        display: flex;
        gap: 30px;
        margin-top: 30px;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }
    }

    &__text-big {
        font-size: 40px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }

    &__image {
        width: 40%;
    }

    &__text {
        width: 60%;
        font-size: 22px;
    }
}


.exponats {
    margin-top: 100px;

    &__slide {
        padding-bottom: 30px;
        background: rgba(41, 105, 200, 0.1);

        img {
            max-height: 400px;
            min-height: 400px;
            object-fit: cover;
            object-position: center;
            display: block;
            margin: 0 auto;
        }
    }

    &__title {
        color: $accent;
    }

    &__slide-title {
        font-size: 28px;
        margin-top: 15px;
        font-weight: 400;
        text-align: center;
    }

    &__descr {
        font-size: 20px;
        text-align: justify;
        margin-top: 15px;
        padding: 0 20px 20px 20px;
        width: 100%;
        height: 125px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;

    }

    &__link {
        width: 100%;
        justify-self: end;
        margin-top: 15px;
        display: flex;
        justify-content: end;
        color: $accent;
        padding-right: 15px;
        text-decoration: underline;
    }

    &__slider {
        position: relative;
        margin-top: 50px;
    }
}



.next,
.prev {
    width: 50px;
    padding: 2px;
    height: 50px;
    background: rgba(41, 105, 200, 0.25);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.next {
    right: -75px;
}

.prev {
    left: -75px;
}

.form {
    position: relative;
    margin-top: 100px;

    &__bg {
        background: rgba(255, 255, 255, 0.75);
        padding-top: 30px;
    }

    &__title {
        color: $accent;
    }

    &__wrapper {
        display: flex;
        margin-top: 50px;
    }

    &__block {
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        width: 55%;
        align-items: center;
        gap: 30px;
        justify-content: center;

        input {
            height: 45px;
            display: flex;
            align-items: center;
            padding-top: 5px;
            width: 400px;
            border: 1px solid rgb(116, 116, 116);
            padding-left: 15px;
        }
    }

    &__button {
        background: $second-accent;
        padding: 15px 50px;
        color: white;
    }

    img {
        height: 400px;
        position: absolute;
        top: 25%;
        left: 70%;
        transform: translateX(-70%);
    }
}

.map {
    margin-top: 100px;

    &__title {
        color: $accent;
    }

    &__block {
        margin-top: 50px;

        iframe {
            box-shadow: 2px 3px 15px rgba($accent, .5);
            width: 100%;
            height: 700px;
        }
    }
}

.subscribe {

    &__wrapper {
        flex-wrap: wrap;
        width: 800px;
        padding: 30px;
        margin: 100px auto 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.75);
    }

    &__title {
        color: $accent;
    }

    &__descr {
        margin-top: 15px;
    }

    &__block {
        margin-top: 30px;

        input {
            width: 300px;
            height: 40px;
            border: 1px solid #000;
            padding-left: 15px;
        }

        button {
            background: $second-accent;
            height: 40px;
            margin-top: 15px;
            padding: 0px 15px;
            color: white;
        }
    }
}

.footer {
    margin-top: 50px;
    padding: 50px 0;
    background: #000;
    background: rgba(255, 255, 255, 0.5);

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__logo {
        img {
            width: 150px;
        }
    }

    &__block {
        font-size: 18px;

        &:last-child {
            text-align: right;
        }
    }
}

.downfooter {
    background: $second-accent;

    ul {
        display: flex;
        gap: 10px;
        justify-content: center;
        color: white;
        font-family: Verdana !important;
        font-size: 18px;

        li {

            &::before {
                content: '|';
                margin-right: 10px;
            }
        }

        a {
            font-family: Verdana !important;
            text-decoration: underline;
        }
    }
}

.blog-item {
    margin-top: 150px;

    &__wrapper {
        display: flex;
        gap: 30px;
    }

    &__block {
        width: 60%;
    }

    &__image {
        width: 40%;

        img {
            width: 100%;
        }
    }

    &__title {
        font-size: 30px;
        font-weight: 900;
    }

    &__descr {
        font-size: 20px;
        margin-top: 15px;
    }

    &__link {
        margin-top: 30px;
        font-size: 22px;
        border-bottom: 1px solid #000;
        width: max-content;
    }
}


@import 'exposition';
@import 'post';
@import 'pagination';
@import 'not-found';
@import 'adaptive';